/testing/logs
/testing/sessions
/testing/screenshots
/logs
/sessions
qodana.yaml
*.yaml
/.idea
/settings
/testing/settings
/MySQL Dump
/Distributions
/Distributions/*
testing/secret.key
testing/fernet_key.py
/Version Control/__pycache__
Version Control/__pycache__/variables.cpython-312.pyc
/Version Control/logs
/Version Control/sessions
/MySQL Dump/
*.xlsx
/testing/*.sql
/testing/*.txt
/.vs/*
/.vs
*/.vs/
/Qonda
.DS_Store
*/sesions*/
*.json
